.about_us_img{
    width:100%;
}

.about_us_container{
    float:left;
}

.about_us_header{
    width: 230px;
    margin-left: 60px;
    font-size: 50px;
}

.about_us_paragraph{
    font-size: 30px;
    padding-left: 22px;
}

.about_us_building_img_container{
    float:right;
}

.about_us_building_img{
    width: 550px;
    padding-top: 62px;
    padding-right: 60px;
}

.working_hours_container{
    margin-top: 380px;
    width: 100%;
}

.working_hours_header{
    width: 415px;
    margin-left: 60px;
    font-size: 45px;
}

.working_hours_table , td , tr , th{
    border:1px ;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}
.working_hours_table{
    margin-left: 35px;
    width: 70%;
    margin-top: 15px;
}

.about_us_social_container{
    margin-top: 80px;
}

.about_us_social_header{
    font-size: 40px;
    width: 400px;
    margin-left: 55px;
}


.social_face_icon{
    width: 196px;
}

.social_insta_icon{
    width: 78px;
    margin-right: 30px;
    margin-bottom: 21px;
}

.social_twitter_icon{
    width: 100px;
    margin-right: 54px;
    margin-bottom: 9px;

}

.social_whats_icon{
    width: 127px;
}

.about_us_location_container{
    margin-top: 40px;
}

.location_header{
    font-size: 40px;
    width: 274px;
    margin-left: 50px;
}

.location_header_citystars{
    font-size: 20px;
    margin-left: 30px;
}

.location_map_citystars{
    margin-left: 23px;
}

.location_header_golfcity{
    font-size: 20px;
    margin-left: 30px;
}

.location_map_golfcity{
    margin-left: 23px;
}

.contact_us_title_container{
    background-image: url(headphoness.jpg);
    background-size: cover;
}

.contact_us_title{
    color: white;
    padding-top: 89px;
    padding-bottom: 410px;
    font-size: 50px;
    padding-left: 51px;
    font-weight: bold;
}

.contact_us_form{
    margin-left: 80px;
    width: 950px;
}

.contact_us_form_label{
    font-size: 25px;
}

.contact_us_form_input{
    height: 35px;
    width: 300px;
    border-radius: 25px;
}

.contact_us_form_right{
    float: right;
    margin-top: 40px;
}

.contact_us_form_phone_img{
    width: 70px;
}

.contact_us_form_phone_img_container{
    float: left;
    margin-right: 15px;
}

.contact_us_form_right_paragraph_phone{
    float: right;
    font-size: 26px;
}

.contact_us_form_mail_img_container{
    padding-left: 3px;
}

.contact_us_form_mail_img{
    width: 70px;
    float: left;
}

.contact_us_form_right_paragraph_mail{
    float: right;
    font-size: 26px;
    padding-right: 13px;
}


.contact_us_form_mail_container{
    padding-top: 100px;
}

.contact_us_submitbtn{
    width: 230px;
    height: 30px;
    border-radius: 25px;
    background-color: red;
    color: white;
    border-color: white;
    font-size: 20px;
}
